/* style.css */
body {
    margin: 0;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
}

#loadingIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
}

#progressBar {
    width: 200px;
}

#model-list {
    margin: 10px;
}

#model-list a {
    text-decoration: none;
    color: blue;
}

#model-list a:hover {
    text-decoration: underline;
}